{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="max-w-screen-xl h-screen py-40 space-y-8 px-4 md:text-center md:px-8">
    <div class="max-w-screen-xl mx-auto px-4 md:text-center md:px-8">
        <div class="font-heading text-[2.6rem] font-bold lg:text-5xl xl:text-6xl">
            Password reset
        </div>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-sm font-medium uppercase tracking-widest text-black dark:text-slate-400 lg:text-base">
            {% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
